.homeContainer{
     width: 100vw;
     display: grid;
     grid-template-columns: repeat(2, 1fr);

     .textSection{
          text-align: left;
          color: var(--primary);
          h1{
               font-size: 64px;
          }
          h3{
               font-size: 24px;
          }
          button{
               margin: 2em 0;
          }
     }

     .imageContainer{
          
     }
}