.faqSection{
     padding: 2em;
     margin: 2em 0;

     .header{
          display: flex;
          justify-content: space-between;

          .textSection{
               text-align: left;

               h1{color: var(--primary); font-size: 24px; font-weight: 500;}
               p{color: rgba(0, 34, 57, 0.70); margin-top: 1em;}
          }

          .searchSection{
               width: 25%;
          }
     }
}
.emptyContainer{
     margin: 2em auto;
     display: flex; flex-direction: column;
     .image{
          margin: auto;
          opacity: .7;
     }
     h2{
          color: rgb(160, 160, 160);
          opacity: .9;
          font-size: 18px;
          font-weight: 400;
          text-align: center;
     }
}
.table{
     margin-top: 1em;
     width: 60%;

     table {
          border: none;
     }

     td,th{
          text-align: left;
          padding: 5px;
          border-bottom: 1px solid #aab4bc60;
     }

     th{
          background-color: #002239;
          color: white;
     }

     tr:hover {background-color: #ddd;}
}
@media only screen and (max-width: 768px) {
     .faqSection{
          .header{
               display: flex;
               flex-direction: column;
          
          .searchSection{
               width: 95%;
               margin-top: 1em;
          }
     }
     }
     .table{
          font-size: 10px;
          width: 100%;
          
     }
}