.button{
     border-radius: 40px;
     padding: 14px 22px;
     font-size: 18px;
}
.primary{
     background-color: var(--primary);
     color: white;
}
.secondary{
     background-color: var(--secondary);
     color: var(--primary);
}
.white{
     background-color: white;
     color: var(--primary);
}
.outline{
     background: transparent;
     color: var(--secondary);
     border: 3px solid var(--secondary);
}