.button{
     border-radius: 40px;
     border: none;
     padding: .5em 1em;
     font-size: 18px;
     display: block;
     cursor: pointer;
}
.button:hover{
     opacity: .7;
}
.primary{
     background-color: var(--primary);
     color: white;
}
.secondary{
     background-color: var(--secondary);
     color: white;
}
.white{
     background-color: white;
     color: var(--primary);
}
.outline{
     background: transparent;
     color: var(--secondary);
     border: 2px solid var(--secondary);
}
@media only screen and (max-width: 768px) {
     .button{
          font-size: 14px;
     }
}