.PricingContainer{
     padding: 2em;
     margin: 2em 0;

     .header{
          display: flex;
          justify-content: space-between;

          .textSection{
               text-align: left;

               h1{color: var(--primary); font-size: 24px; font-weight: 500;}
               p{color: rgba(0, 34, 57, 0.70); margin-top: 1em;}
          }
     }
}

.priceContainer{
     box-shadow: 2px 4px 10px 0px rgba(0, 34, 57, 0.17);
     border-radius: 20px;
     background: rgba(0, 174, 239, 0.03);

     h2{font-size: 20px}
     p{font-size: 32px}

     .properties{
          margin: 0 2em;
          text-decoration: none;
          list-style-type: none;
     }

     .maxSpeed{
          margin: 0 1em;
          font-size: 20px;
          text-align: center;
     }

     button{
          margin: auto 2em;
     }
}