.footerMain{
     background-color: black;
     color: white;
     padding: 2em;
     width: 100vw;
     position: relative;
     
     .mainContainer{
          display: grid;
          grid-template-columns: auto auto auto;
          width: 100vw;
     }

     .logoContainer, .supportContainer, .contact{
          
          h2{
               font-size: 16px
          }
          p{
               font-size: 14px;
               margin-top: 1em;
          }
     }

     .divider{
          margin: 2em 0;
          opacity: 50%;
     }

     .footerText{
          font-size: 14px;
     }
     .ITXLogo{
          position: absolute;
          bottom: 0;
          left: 0;
          opacity: .05;
     }
}

@media only screen and (max-width: 768px) {
     .footerMain{
          .mainContainer{
               display: grid;
               grid-template-columns: repeat(1, 1fr);
          }
          .supportContainer, .support{
               text-align: left;
          }
          .logoContainer, .supportContainer, .contact{
               margin: 2em 0;
          }
          .divider{
               margin: 2em .5em;
          }
     }
}

