.hamburgerContainer{
     position: absolute;
     right:  0;
     top: 0;
     width: 100vw;
     height: 100vh;
     background: rgba(0, 0, 0, 0.5) ;
     z-index: 1000 !important;
     overflow-y: hidden !important;

     .hamburgerMenu{
          text-align: right;
          position: absolute;
          right:  0;
          top: 0;
          width: 70vw;
          background: white;
          animation: slideIn .5s ease-in;
          height: 100vh;
          padding: 2em;

          z-index: 1001 !important;

          .closeButton{
               position: block;
               right: 0;
               right: 0;
               color: #393C41;
          }

          .links{
               text-align: left;
               display: flex;
               flex-direction: column;
               gap: 2em;
               margin-top: 2em;
               color: #393C41;
               cursor: pointer;
               h3{
                    // color: var(--primary);
                    font-weight: 500;
                    font-size: 16px;
               }
          }
     }
}

@keyframes slideIn{
     0%{
          width: 0;
     }

     100%{
          width: 70vw;
     }
}