.sectionHeader{
     color: var(--primary) !important;
     padding-left: 2em;

     span{
          margin-left: 20px;
          font-size: 24px;
          font-family: 'Nunito Sans';
          font-weight: 400;
     }
}
