.servicesContainer{
     width: 100vw;
     margin: 5em 0;

     .servicesItem{
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          gap: 5em;
          padding: 2em;     

          .servicesBox{
               border-radius: 20px;
               background: #FFF;
               box-shadow: 0px 2px 10px 2px rgba(0, 34, 57, 0.12);
               padding: 1em;
               div{
                    margin: auto;
                    height: 100px;
                    width: 100px;
                    border-radius: 20px;
                    background: rgba(104, 225, 253, 0.15);
                    display: flex;
                    justify-content: center; align-items: center;
               }

               h3{
                    color: var(--primary);
                    margin-top: 1em;
                    text-align: center;
                    font-size: 18px;
                    font-weight: 400;
                    font-family: 'Nunito Sans';
               }
               
          }
     }
}

@media only screen and (max-width: 768px) {
     .servicesContainer{
          margin: 10em 0;
          .servicesItem{
               gap: 5em;
               grid-template-columns: repeat(1, 1fr);
               width: 70%;
               margin: auto;
          }
     }
}
